**Dictionary**
- We already seen many Data types
- String
- List
- Tuple
- Set
- Dictionary
- int float bool complex
- range
- bytes
- eval is not a data type

In [ ]:
# By using lambda list reduce
str=b'hello'

In [ ]:
string=''
list=[]
tuple=()
set={}
dictionary={key:value}

In [1]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
# Print
# Ramesh age is 20

**ZIP**

In [2]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]

for i,j in zip(names,age):
    print(i,j)

Ramesh 20
Suresh 25
Satish 30

In [3]:
list(zip(names,age))

[('Ramesh', 20), ('Suresh', 25), ('Satish', 30)]

In [ ]:
#dict1={<key>:<value>}
#names=['Ramesh','Suresh','Satish']
#age=[20,25,30]
#'Ramesh' is the key ====== 20 its related value
dict1={'Ramesh':20,'Suresh':25,'Satish':30}

In [4]:
dict1={'Ramesh':20,'Suresh':25,'Satish':30}
type(dict1)

dict

In [ ]:
#If the list are of different length?
#if both lists are different lenght
#zip will not work

- intialization
- type
- max
- min
- len
- reversed
- sorted
- in
- index
- mutable
- concate
- slicing
- methods

**Create all type of dictionaries**

In [ ]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
d2={'Manish':'25','Shubam':'20','Govindh':'15'}
d3={25:'Manish',20:'Shubam',15:'Govindh'}
d4={25:50}
d5={'Fruites':['Apple','Cherry']}
d6={['Apple','Cherry']:'Fruites'}
d7={('Apple','Cherry'):'Fruites'}
d8={'Ajay':25,'Ajay':30}
d9={25:'Ajay',30:'Ajay'}
d10={'Fruites':{'Mango':25}}

In [5]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
d1

{'Manish': 25, 'Shubam': 20, 'Govindh': 15}

In [6]:
d2={'Manish':'25','Shubam':'20','Govindh':'15'}
d2

{'Manish': '25', 'Shubam': '20', 'Govindh': '15'}

In [7]:
d3={25:'Manish',20:'Shubam',15:'Govindh'}
d3

{25: 'Manish', 20: 'Shubam', 15: 'Govindh'}

In [8]:
d4={25:50}

In [9]:
d5={'Fruites':['Apple','Cherry']}
d5

{'Fruites': ['Apple', 'Cherry']}

In [10]:
d6={['Apple','Cherry']:'Fruites'}
d6

TypeError: unhashable type: 'list'

In [11]:
d7={('Apple','Cherry'):'Fruites'}
d7

{('Apple', 'Cherry'): 'Fruites'}

In [12]:
d8={'Ajay':25,'Ajay':30}
d8

{'Ajay': 30}

In [13]:
d9={25:'Ajay',30:'Ajay'}
d9

{25: 'Ajay', 30: 'Ajay'}

**keys are important**
- Keys have only latest value
- No duplicate keys
- Keys should be only one
- Values can be duplicate
- which means different keys can have same value
- List can not be a key, Because lists are mutable
- tuple can be a key, Because tuple are immutable

In [14]:
d1={'Manish':25,'Shubam':20,'Govindh':15} # 'Shubam'
d2={'Manish':'25','Shubam':'20','Govindh':'15'} # 'Shubam'
d3={25:'Manish',20:'Shubam',15:'Govindh'} # 25
d4={'Manish':25,'Shubam':'20','Govindh':15} # 'Shubal'
d5={25:'Manish','20':'Shubam',15:'Govindh'} # Error
d6={'Manish':20,'Shubam':20,'Govindh':20} # 'Shubam'
d7={20:'Manish',20:'Shubam',20:'Govindh'} # 20

In [15]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
max(d1)
# Operations apply on keys
# Keys are important

'Shubam'

In [16]:
d2={'Manish':'25','Shubam':'20','Govindh':'15'}
max(d2)

'Shubam'

In [17]:
d3={25:'Manish',20:'Shubam',15:'Govindh'}
max(d3)

25

In [18]:
d4={'Manish':25,'Shubam':'20','Govindh':15}
max(d4)

'Shubam'

In [20]:
l=['A',2]
max(l)

TypeError: '>' not supported between instances of 'int' and 'str'

In [22]:
d5={25:'Manish','20':'Shubam',15:'Govindh'}
max(d5)

TypeError: '>' not supported between instances of 'str' and 'int'

In [23]:
d7={20:'Manish',20:'Shubam',20:'Govindh'}
max(d7)

20

In [24]:
d7={20:'Manish',20:'Shubam',20:'Govindh'}
d7

{20: 'Govindh'}

In [25]:
d4={'Manish':25, 'Shubam': '20', 'Govindh':15}
max(d4)

'Shubam'

**Reversed**
- you might have think dictionary will reverse
- when you apply reveresd , then you got to know
- only keys will come in reverse

In [26]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
list(reversed(d1))

['Govindh', 'Shubam', 'Manish']

In [27]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
list(sorted(d1))

['Govindh', 'Manish', 'Shubam']

In [28]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
list(sorted(d1,reverse=True))

['Shubam', 'Manish', 'Govindh']

In [29]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
for i in d1:
    print(i)

Manish
Shubam
Govindh

In [30]:
'Manish' in d1

True

**INDEX**

In [ ]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
# If you want retrive the values
# Python will never give 'Manish':25
d1[0]

In [31]:
d1['Manish']

25

In [33]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
# Dictionary is a key:value pair
# We can not use index number directly
# whenever you want to call a value, we will use key
d1['Manish']
d1['Shubam']
d1['Govindh']
d1[i]

15

In [34]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
for i in d1:
    print(f"{i} has age {d1[i]}")

Manish has age 25
Shubam has age 20
Govindh has age 15

In [35]:
names=['Vignesh','Mohit','Nagesh']
age=[20,25,30]
for i,j in zip(names,age):
    print(f"{i} has age {j}")

Vignesh has age 20
Mohit has age 25
Nagesh has age 30

**Dictionary to list**

In [37]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
keys,values=[],[]
for i in d1:
    keys.append(i)
    values.append(d1[i])
values

[25, 20, 15]

In [38]:
keys=[i for i in d1]
values=[d1[i] for i in d1]

**How to create a empty list**

In [39]:
l=[]
l.append(20)
l

[20]

**Empty String**

In [40]:
s=''
s=s+'a'
s

'a'

**empty dictionary**

In [ ]:
d={}
d[<key>]=<value>

In [43]:
d={}
d['Vignesh']=20
d['Mohit']=25
d['Nagesh']=30
#d[i]=j

In [44]:
names=['Vignesh','Mohit','Nagesh']
age=[20,25,30]
NAMES={}
for i,j in zip(names,age):
    NAMES[i]=j
NAMES

{'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}

**string to list**

In [45]:
s='hello hai hai how how are you'
s.split()

['hello', 'hai', 'hai', 'how', 'how', 'are', 'you']

**Word frequency**

In [46]:
# i/p: s='hello hai hai how how are you'
#o/p:{'hello':1,'hai':2,'how':2,'are':1,'you':2}
# idea
# step-1: split the string: List of words
# step-2: Iterate using the list
#each word will come apply the count
#word key, count become value
#step-3: Make a dictionary
s='hello hai hai how how are you'
words_list=s.split()
words_list
dict1={}
for word in words_list:
    dict1[word]=s.count(word)
dict1

{'hello': 1, 'hai': 2, 'how': 2, 'are': 1, 'you': 1}

In [51]:
string1="Data science is an interdisciplinary academic field that uses statist
        scientific computing, scientific methods, processes, scientific visual
        algorithms and systems to extract or extrapolate knowledge and insight
        Data science also integrates domain knowledge from the underlying application
        a research paradigm, a research method, a discipline, a workflow, and a "
#task -1: in the above sentence you need to remove a,an,is,the
# task-2: Data first letter Ascii value: 68
# science first letter Ascii value : 115
{'Data':68,'science':115}

SyntaxError: unterminated string literal (detected at line 1) (1949909626.py, line 1)

**Mutable-immutable**
- Change the elements using index
- But In dictionary there is no index
- In dictionary we wil change the value based on key only
- instead of using the index, change the values using key
- if it is change it is Mutable
- if it is not change it is Immutable

In [52]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
d['Nagesh']=22
d

{'Vignesh': 20, 'Mohit': 25, 'Nagesh': 22}

- List and Dictionary are mutable
- tuple and strings are immutable
- Difference between list and Tuple

In [53]:
d={'Fruites':['Mango']}
d['Fruites'][0]

'Mango'

In [54]:
d={'Fruites':[{'Apple':['Kashmir']}]}
d

{'Fruites': [{'Apple': ['Kashmir']}]}

In [55]:
d['Fruites'][0]['Apple'][0]

'Kashmir'

In [56]:
d={'Fruites':[
    {'Apple':
    {'Kashmir':
    ['India']
    }
    }
    ]
  }
d

{'Fruites': [{'Apple': {'Kashmir': ['India']}}]}

In [57]:
d['Fruites'][0]['Apple']['Kashmir'][0]

'India'

In [59]:
d={'Fruites':{'Benganapalli':{'Mango':{'Nagpur':{'MH':{'Shivaji':{'Shambaji'}}}}}}}
d

{'Fruites': {'Benganapalli': {'Mango': {'Nagpur': {'MH': {'Shivaji': {'Shambaji'}}}}}}}

In [60]:
d['Fruites']['Benganapalli']['Mango']['Nagpur']['MH']['Shivaji']

{'Shambaji'}

**Dictionary Methods**

In [61]:
dir('') # string methods
dir([]) # list methods
dir(()) # tuple methods
dir({}) # Dictionary methods

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
string
list
tuple
dictionary all are class objects

In [62]:
print(type(()))

<class 'tuple'>

**items-keys-values**

In [63]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
d

{'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}

In [64]:
#<package>.<methodname>

In [65]:
d.items()

dict_items([('Vignesh', 20), ('Mohit', 25), ('Nagesh', 30)])

In [66]:
d.keys()

dict_keys(['Vignesh', 'Mohit', 'Nagesh'])

In [67]:
d.values()

dict_values([20, 25, 30])

In [68]:
# We already learn how to make a list from dictionary
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
keys,values=[],[]
for i in d:
    print(i,d[i])
    keys.append(i)
    values.append(d[i])
keys,values

Vignesh 20
Mohit 25
Nagesh 30

(['Vignesh', 'Mohit', 'Nagesh'], [20, 25, 30])

In [69]:
d.keys()

dict_keys(['Vignesh', 'Mohit', 'Nagesh'])

In [70]:
type(d.keys())

dict_keys

In [71]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
list(d.keys()),list(d.values())

(['Vignesh', 'Mohit', 'Nagesh'], [20, 25, 30])

In [72]:
d.keys().append(20)

AttributeError: 'dict_keys' object has no attribute 'append'

- Dictionary keys will give dictionary keys items in a list
- It looks like a list , but it is not a list
- Whcih means we can not apply list methods
- So we need to convert into list type, by using list type casting

In [73]:
dir(list[d.keys()])

['__add__',
 '__args__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mro_entries__',
 '__mul__',
 '__ne__',
 '__new__',
 '__origin__',
 '__parameters__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__typing_unpacked_tuple_args__',
 '__unpacked__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [74]:
list[d.keys()]

list[dict_keys(['Vignesh', 'Mohit', 'Nagesh'])]

In [75]:
for i in list[d.keys()]:
    print(i)

*list[dict_keys(['Vignesh', 'Mohit', 'Nagesh'])]

In [76]:
type(list[d.keys()])

types.GenericAlias

**Method-1**

In [77]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
keys,values=[],[]
for i in d:
    print(i,d[i])
    keys.append(i)
    values.append(d[i])
keys,values

Vignesh 20
Mohit 25
Nagesh 30

(['Vignesh', 'Mohit', 'Nagesh'], [20, 25, 30])

**Method-2**

In [78]:
d={'Vignesh': 20, 'Mohit': 25, 'Nagesh': 30}
keys=list(d.keys())
values=list(d.values())

**Method-3**

In [79]:
d.items()

dict_items([('Vignesh', 20), ('Mohit', 25), ('Nagesh', 30)])

In [80]:
keys,values=[],[]
for i,j in d.items():
    print(i,j)
    keys.append(i)
    values.append(j)
keys,values

Vignesh 20
Mohit 25
Nagesh 30

(['Vignesh', 'Mohit', 'Nagesh'], [20, 25, 30])

In [ ]:
a=10,20 # Works
a,b=10,20 # Works
a,b=10 # Fails

In [81]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']