In [ ]:
#### Python divided into 3 types ###
--- Basics
1 Variables
2 Data Typres
3 Type Conversions
4 Eval Input
5 Packages
6 Conditional Statements
7 Try-Except
8 Functions
9 For
10 While



--------- INTERMEDIATE PART ---------------
11 Strings
12 Lists
13 Dictionary
14 Tuples
15 Sets
16 Lambda Functions
17 File Handling sessions 




--------Advanced----------------
18 OOPS

In [ ]:
===============PaRT-1==============
- Initializaton
- Type
- len
- max
- min
- sorted
- reversed
- in
- for loop using in
- index
- for loop using index
- mutable
- Concatination

=============part 2 =================

- methods

**Initialization**

In [4]:
str1='python'
str2="python"
str1
str2
print(str1)

python

**NOTE**

- If we give single quotes or double quotes by default it provides in single quote
- If we print the string  we will get answer without 
- Triple quotes are used fro doc atring
- INORDER TO CONVEY THE INFORMATION ABOUT COING PART WE USE DOC STRING
- Anything inside single or double quotes is string in puthon

**Triple Quotes**

In [10]:
str3="""Hii How are You
        Im Good"""
str3

'Hii How are You\n\n        Im Good'

**TYPE**

In [8]:
type(str1) ## Gives type of string

str

In [11]:
str3='10'
str4='10.5'
str5='true'
type(str4)

str

**length**

In [ ]:
str1='python'
len(str)

**MAX AND MIN**

In [12]:
str1='PYTHON'
max(str1)

'Y'

In [13]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [15]:
str1='python'
min(str1)

'h'

**KEYWORDS v\s METHODS**

type(<>)
print(<>)
len(<>)
max(<>)
min(<>)
eval(<>)
input(<>)
sum(<>)

- in order to use methd we need to call packaage

import random
random.randint()

**SUM**

In [17]:
str1='python'
sum(str1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
'p'+'y'

'py'

In [19]:
sum([1,2,3])

6

**SORTED**

In [21]:
max('python')
min('python')
len('python')

6

In [22]:
sorted('python')

['h', 'n', 'o', 'p', 't', 'y']

- Sorted fives ascending order based on ASCII numbers 
- sorted is a kind of function
- every function we have arguments
- In that one default argument is **Reverse=False**
- By default sorted output gives **Ascendong order**
- We can change the order by provoding reverse=false
- If we dont give it will give default answer

In [23]:
sorted('python', reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [24]:
complex(10,20)

(10+20j)

In [25]:
complex(real=10,imag=30)

(10+30j)

function() #Answwer
function(a,b) # THis might return error, if we dont give values of a,b
function(a=10,b=20) #Answer

In [1]:
import random
random.random() # we will get answer but answer is not in our hands

0.5511151082856841

In [2]:
import random
random.randint(10,20) # Answer we can change

12

In [3]:
complex() # By default 0,0

0j

In [4]:
complex(10,20)

(10+20j)

In [ ]:
random.randint(a=10,b=30) # Anaswer

In [ ]:
sorted(iterable='python') # Error
random.randint(a=10,b=30) # Anaswer

In [ ]:
sorted('python') # Anaswer
sorted('python',reverse=True)

**Note**
- we have arguments before / and after slash
- we can use the argument names after / only
- For example sorted has two arguments one is iterable and another one is reverse 
- iterbale is mentioned before / symbol
- reverse is mentioned after / symbol
- so we can use only reverse argument name while we are doing the work
- we can not use iterable argument name
- Instead of using iterable name , we can provide direct value at that posistion

**REVERSED**

In [ ]:
type()
len()
max()
min()
print()
sorted()

In [7]:
reversed('python')

In [8]:
str1='azycd'
output=reversed(str1)
for i in output:
 print(i)

d
c
y
z
a

In [ ]:
# sorted()
# It will provide the acsending or desscing values

sorted('Abhishek')

# Default behavior : Ascending

In [9]:
for i in reversed('Abhishek'):
    print(i)

k
e
h
s
i
h
b
A

In [11]:
sorted([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [15]:
sorted([1,2,3,4,5],reverse=True)

[5, 4, 3, 2, 1]

In [16]:
for i in str1:
    print(i)

a
z
y
c
d

**NOTE**

- In operator directly access the letters

In [18]:
#Q1 WAP ask the user count how many a are present is a string
# str1='Hi Naresh How are you'

str1='Hii Naresh How are you'
count=0
for i in str1:
    if i=='a':
        count=count+1

# step1:    i=h h==!a false
# step2:    i=a a==a TRue   count=0+1=1

In [28]:
#2 Wap ask to find vowels in a string
str1='Hii Naresh How are you'
count=0
for i in str1:
     if i=='a' or  i=='e'or  i=='i' or i=='o'or i=='u' :
        count=count+1
print("The count is",count)

The count is 9

In [26]:
str1='Hii Naresh How are you'
count=0
for i in str1:
     if i in 'aeiou':
        count=count+1
print("The count is:",count)

The count is: 9

In [43]:
count=0
str1='Hii Naresh How are you'
str2=''
for i in str1:
     str2=str2+i
     if i in 'aeiou':
      count=count+1
print("The count is:",count)

The count is: 9

**String Concatenation**

In [35]:
s1='Hello '
s2=' Morning'
s1+s2

'Hello  Morning'

**INDEX**

- Index is a  number attached to a number
-  In python index start wit a 0
-  two direction : Positive and Negative
   - Positive : starts from 0
    - Negative : starts from 0 in - direction

s1='python'

-6 -5 -4 -3 -2 -1 
p   y  t  h  o  n 
0   1  2  3  4  5

In [37]:
s1='python'
s1[5]

'n'

In [ ]:
Home work qn
# str1='hai naresh how are you'
# Repetaed vowels are there
# We dont want repetaed vowels
# Count the vowels avoid the repeatition: Unique vowels
# Step-1: Count=0
# Step-2: take one more empty string: ex= s2=''
s2=''
# Step-3: using for loop in operator iterate through given string
# step-4: condition-1: That letter shoud not avaialble in s2
# step-5 condition-2: vowel check condition
# step-6 count=count+1
# step-7: update the s2= s2=s2+<letter>

**MUTABLE-IMMUTABLE**

- mutable: can change
- immutale: cant change

In [1]:
s='welcome'
#Replace L with l 
s[2]='L'

TypeError: 'str' object does not support item assignment

In [ ]:
- Range belongs ito which family
    - math 
- Inside range bracket what we need to provide
    - number
- How many numbers we provide
    - No of letter : len(str)
- How to access the letter using number
    - by using index

In [3]:
#Q4 print each letter using loops 

s='welcome'
for i in range(7):
    print(s[i])
#i=0 s[0]=w
#i=1 s[1]=e

w
e
l
c
o
m
e

In [4]:
s='welcome to naresh IT'
n=len(s)
for i in range(n):
    print(s[i])

w
e
l
c
o
m
e

t
o

n
a
r
e
s
h

I
T

- **for-in** directly access the letters
- **for-range** will access using index

In [ ]:
# Q5 wap ask user to iterate using a string
# print positive index of w is 0
# print positive index of e is 1

In [11]:
s='welcome'
for i in range(len(s)):
    print(i,s[i])
    print(f'The positive index of {s[i]} is {i}')

0 w
The positive index of w is 0
1 e
The positive index of e is 1
2 l
The positive index of l is 2
3 c
The positive index of c is 3
4 o
The positive index of o is 4
5 m
The positive index of m is 5
6 e
The positive index of e is 6

In [12]:
s='welcome'
for i in range(len(s)):
    print(i,i-len(s))
    print(f'The negative index of {s[i]} is {i}')

0 -7
The negative index of w is 0
1 -6
The negative index of e is 1
2 -5
The negative index of l is 2
3 -4
The negative index of c is 3
4 -3
The negative index of o is 4
5 -2
The negative index of m is 5
6 -1
The negative index of e is 6

In [14]:
s='welcome'
for i in range(len(s)):
    print(i,i-len(s))
    print(f'The positive index is  {i} and the negative index of {i-len(s)} for {s[i]}')
    print(f'')

0 -7
The positive index is  0 and the negative index of -7 for w

1 -6
The positive index is  1 and the negative index of -6 for e

2 -5
The positive index is  2 and the negative index of -5 for l

3 -4
The positive index is  3 and the negative index of -4 for c

4 -3
The positive index is  4 and the negative index of -3 for o

5 -2
The positive index is  5 and the negative index of -2 for m

6 -1
The positive index is  6 and the negative index of -1 for e

In [2]:
#Q8) wap ask the user get the index of each 'a' in a given string
# s='hai how are you i am good'
# a=1 8 18
s='hai how are you i am good'
for i in range(len(s)):
    if s[i]=='a':
        print(i)
s='hai how are you i am good'
for i in s:
    if i=='a':
        print(i)

1
8
18
a
a
a

In [4]:
#Q9) wap ask the user to get count of number of 'a' in a given string
# using for-range
s='hai how are you i am good'
count=0
for i in range(len(s)):
    if s[i]=='a':
        count=count+1
count

3

In [11]:
#Q10) wap ask the user get the sum of all index numbers of 'a'
# 1+8+18= 27
s='hai how are you i am good'
count=0
for i in range(len(s)):
    if s[i]=='a':
        summ=summ+i
summ

NameError: name 'summ' is not defined

In [9]:
#Q11) wap ask the user get the vowels from a given string using for-range
s='hai how are you i am good'
count=0
for i in range(len(s)):
    if s[i] in 'aeiou':
        print(s[i])
        count=count+1
print("The number of vowels are:",count)

a
i
o
a
e
o
u
i
a
o
o
The number of vowels are: 11

In [13]:
#Q12) wap ask the user get the vowels from a given string using for-range
s='hi how re you i m good'
s1=''
count=0
for i in range(len(s)):
    if s[i] not in s1: # we are checking the letter is available in s1( It shou
        if s[i] in 'aeiou': # we are checking vowel condition
            print(s[i])
            s1=s1+s[i] # we need to update the s1
            count=count+1
        print("The number of vowels are:",count)

The number of vowels are: 0
i
The number of vowels are: 1
The number of vowels are: 1
The number of vowels are: 1
o
The number of vowels are: 2
The number of vowels are: 2
The number of vowels are: 2
The number of vowels are: 2
e
The number of vowels are: 3
The number of vowels are: 3
The number of vowels are: 3
u
The number of vowels are: 4
The number of vowels are: 4
The number of vowels are: 4
The number of vowels are: 4
The number of vowels are: 4
The number of vowels are: 4
The number of vowels are: 4

In [14]:
#Q13)Ipdated wap ask the user get the vowels from a given syting using for range
s='hi how are you im good'
s1=''
count=0
for i in range(len(s)):
    if s[i] not in s1 and s[i] in 'aeiou':
        print(s[i])
        s1=s1+s[i]
        count=count+1
print("The number of vowels are:",count)

i
o
a
e
u
The number of vowels are: 5

In [ ]:
#Q14) string1='ola ola ola '
# Number of ola = 3
#Q15) string1='hello hello how how how how are you'
# What is the most repeated word : how
# Q16) string1='hellooooo how aree u'
# what is the maximum length of word: helloooo
# what is the minimum length of word: u
# Q17) with out using sorted then sort the letters

['e', 'h', 'l', 'l', 'o']

# Q16) string1='hellooooo how aree u'
# what is the maximum length of word: helloooo
# what is the minimum length of word: u
# Q17) with out using sorted then sort the letters
sorted('hello')
['e', 'h', 'l', 'l', 'o']

In [15]:
sorted('hello')

['e', 'h', 'l', 'l', 'o']

**Slice**

- we can cut into pieces
- Similar to range concept
- start , stop ,step here also

-15 -14 -13 -12 -11 -10 -9  -8  -7  -6  -5 -4  -3 -2 -1 
 h  a   i       h   o   w       a   r   e     y  o   u 
  0   1   2   3   4   5   6   7   8  9 1 0 11 12 13 141414

In [ ]:
str1[start:stop:step]

pattern − 1

**str1[start:]**
- By default start value = start only
- Last value nothing mentioned automatically it will go till = last only
- Step nothing mentioned means , It is a postive direction and increment by 1

In [18]:
#-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
# h a i h o w a r e y o u
# 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14
str1='hai how are you'
str1[5:]

'ow are you'

In [19]:
str1[10:]

'e you'

In [20]:
str1[-5:]

'e you'

In [21]:
str1[5:],str1[-10:] # Both will give same answer

('ow are you', 'ow are you')

In [22]:
str1[14:]

'u'

In [23]:
str1[-1:]

'u'

**pattern − 2 **

- str1[start:stop]
- start value means by default start only
- step is not mentioned postive direction
- last = stop-1

In [24]:
#-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
# h a i h o w a r e y o u
# 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14
str1='hai how are you'
str1[5:14]

'ow are yo'

In [ ]:
#-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
  h   a   i       h   o   w     a  r  e     y   o   u
# 0   1   2   3   4   5   6  7  8  9  10 11  12 13 14
str1='hai how are you' # step is mentioned or not mentioned
str1[5:14], # Answer
str1[-5:14], # Answer
str1[5:-14], # No answer
str1[-5:-14] # No answer

In [25]:
str1[5:500]

'ow are you'

**Truncation behaviour**
- when ever string range is limited, but we provided unlimited number
- string will consider till the range we have
- In the above example our range only 15 letters
- we provided 500 , then 500 will truncate to till 15 letters only

In [ ]:
str1[5:500] # Answer
str1[-500:500] # Answer
str1[-1:500] # Answer
str1[500:] # no answer
str1[-500:-100] # No answer

**Pattern 3 str1[start:stop:step]**
- start value means start only
- If step value positive
    - last value= stop-1
- f step value negative
    - last value=stop+1

In [2]:
len(str1)

NameError: name 'str1' is not defined

In [ ]:
str2='yeshwanth'

y e s h w a n t h
0 1 2 3 4 5 6 7 8

In [ ]:
#-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
# h   a   i        h  o  w      a  r  e     y  o  u
# 0   1   2   3   4   5   6  7  8  9  10 11 12 13 14

str1[2:13:2] # P
str1[2:13:-2] # NP
str1[2:-13:2] # NP (CHECK) str1[2:-13] str1[2:3:2] str1[2:2]
str1[2:-13:-2] # NP (CHECK)
str1[-2:13:2] # NP (CHECK)
str1[-2:-13:2] # NP
str1[-2:-13:-2] # P
str1[13:2:2] # NP
str1[-13:2:2] # NP (CHECK)
str1[-13:-2:2] # P
str1[-13:-2:-2] # NP
str1[-13:2:-2] # NP(CHECK)

In [ ]:
==================== PART-1=====================================
- Intiaization
- type
- len
- max
- min
- sorted
- reveresed
- in
- for loop using in
- index
- for loop using index
- mutable
- cancatenation
- slice

#==============PART-2==========================
    #Methods
- mutable

In [3]:
#-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
# h   a   i        h  o   w     a  r  e     y  o  u
# 0   1   2   3   4   5   6  7  8  9  10 11 12 13 14

str1[:5:-2] # start value -1

NameError: name 'str1' is not defined

In [ ]:
str1[-13:2:2] # postive direction start value :0

In [ ]:
str1[:] # Complete string
str1[::] # Complete string
str1[<start>::-1] # Reveres start value=-1
str1[<start>:5:-2]

**Methods**
- Strings lists tuple dictionary every data type has its own methods
- We already seen that packages has different method
- For example random package : randint method
- Math package : sqrt
- In the same way strings also have methods
- In order to see methods for the packages
    - we are importing the package
    - we are applying dir
- In the similar way in order to see the methods of string , we need to apply dir only

In [6]:
dir('')
# dir('hai')
# str1='apple'
# dir(str1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

**Upper**

In [8]:
str1='hai how are you'

type(str1)
help(help.upper)

Help on built-in function upper:
upper() method of builtins.str instance
Return a copy of the string converted to uppercase.

In [10]:
str1.upper()

'HAI HOW ARE YOU'

In [11]:
str1.upper()

'HAI HOW ARE YOU'

In [12]:
str1.lower()

'hai how are you'

In [14]:
str1.casefold()

'hai how are you'

In [15]:
str1.title()

'Hai How Are You'

In [ ]:
#str1='hai how are you'
# o/p='How Are You'
# with out using any method
# One more level : iterate each letter apply capitalize
# scratch : ord char

In [18]:
str1.center(5)

'hai how are you'

In [19]:
len(str1.center(20))

20

- Cebter has two arguments
    - width
    - fill char
- original string alread : 15 lettters
- we want to create a new string with 20 letters
- Remaining 5 letters by default empty
- we can fill with charcters also

In [20]:
str1.center(26,'*')

'*****hai how are you******'

- upper
- lower
- casefold
- Title
- Capitalize
- Center
- Count

**COUNT**

In [ ]:
str1='hai how are you'
# How many 'a's are there

In [ ]:
count=0
for i in str1:
    if i=='a':
        count=count+1
count=0

In [21]:
str1='hai how are you'
str1.count('a')

2

In [22]:

str1='hai hai hai'
str1.count('a')

3

- We want number of a from a specific index
- we want number of a between two indexes

In [24]:
#h a i h a i h a i
#0 1 2 3 4 5 6 7 8 9 10
str1.count('a') # All the 'a'
str1.count('a',5)

2

In [ ]:
str1.count('a',3)
# we are searching number of 'a' from index=3

In [25]:
#h a i   h a i   h a i
#0 1 2 3 4 5 6 7 8 9 10
str1.count('a') # All the 'a'
str1.count('a',5) # we are searching number of 'a' from index=3
str1.count('a',4,8) #we are searching number of 'a' from index=4 to index=8

1

In [26]:
str1='ola ola ola'
str1.count('ola')

3

In [ ]:
# In the interviwes he will ask with out using method
# After you got job

In [ ]:
str1='ola ola ola'
for i in str1:
    if i=='ola': # 'o' == 'ola'
        print(i)

**Window method**

In [ ]:
str1[i:i+3]
i=0 str1[0:3] === > ola
i=1 str1[1:4] ==== > la
i=2

In [ ]:
str1='ola ola ola'
count=0
for i in range(len(str1)):
if str1[i:i+3]=='ola':
count=count+1
# step-1: count=0 i =0 str1[0:3]=='ola' True count=1
# step-2:         i=1  str1[1:4]=='ola' F

In [ ]:
str1='ola ola ola'

In [27]:
str1.count('ola ola ola')

1

In [28]:
str1='ola ola ola'
str1.count(str1)

1

In [29]:
str1.count('z')
# No answer ''
# Error
# 0
# NT

0

**Replace**

In [ ]:
str1='welcome'
# I want to replace 'l' with 'L'

In [ ]:
# we know that strings are immutable
# we can not use index operations also
# slice and concatenation
# Divide welcome : we come
# s1='we'
# s2='come'
# s1+'L'+s2
sir, you said string is immutable
it won't change but if we are doing concatenation
s1=s1+'anything' total value of s1 is changing write sir how

In [30]:
str1='welcome'
s1=str1[0:2]
s2=str1[3:]
s1+'L'+s2

'weLcome'

In [31]:
chr(ord('l')-32) #Try this

'L'

In [32]:
str1='welcome'
str1.replace('l','L')

'weLcome'

In [33]:
str1='wellcome'
str1.replace('l','L')

'weLLcome'

- By default replace will change all the occurences
- count= -1 is responsible for that
- whcih means we can provide some count also, which how many I want to change
- Give welllcome and change count=1 and count=2 explore it

In [34]:
str1='welllcome'
str1.replace('l','L',1) # old='l', new ='L' count=1
# when we write count=1
# It will change only one letter
# that to first occurence only

'weLllcome'

In [35]:
str1='welllcome'
str1.replace('l','L',2)

'weLLlcome'

In [36]:
Str1='restart'
# i/p= 'resta$t'
str1='restart'
s1=str1[:1]
s2=str1[1:]
s3=s2.replace('r','$')
s1+s3

'resta$t'

In [ ]:
Q. Why is replacing -1 is replaced at all places. str1='welllcome'
str1.replace('l','L',-1)
# Flag=-1 True Flase ALL N

In [37]:
str1='restart' # This case
str1[::-1].replace('r','$',1)[::-1]

'resta$t'

**index-find**
- Upper
- lower
- casefold
- title
- capitalize
- count
- replace
- index-find
- split
- strip
- startswith

In [39]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [40]:
str1='HELLO'
str1.isupper()

True

In [41]:
str1='HELLO'
str1.istitle()

False

In [42]:
str1='hello'
str1.isupper()

False

**Index**
- Index says that it will give the index of any letter in a given string
- we already seen about count: Count will give how many letters are there in a string
    - at what index you want to count
    - between indexes also we can count the letters
- index meaning it will provide the index
- imagine that there same letters repeated
- how can we find the next index

In [43]:
#h a i h a i h a i
#0 1 2 3 4 5 6 7 8 9 10
str1= 'hai hai hai'
str1.index('a')
# Return the lowest index in S where substring sub is found,

1

In [45]:
#h a i h a i h a i
#0 1 2 3 4 5 6 7 8 9 10
str1='hai hai hai'
str1.index('a',3)

5

In [46]:
# I want to know 'a' index between 3rd and 7th index
#h a i h a i h a i
#0 1 2 3 4 5 6 7 8 9 10
str1= 'hai hai hai'
str1.index('a',3,7)

5

In [47]:
# I always a Return a lowest index only
str1= 'hai hai hai'
str1.index('a') # among all the indexes the lowset index is '1'
str1= 'hai hai hai'
str1.index('a',3) # after 3rd index the lowset index of a is '5'
str1= 'hai hai hai'
str1.index('a',3,7) # Between 3-7 index the lowset index is '5' only

5

In [48]:
str1= 'hai hai hai'
str1.index('a',-3,-1) # among all the indexes the lowset index is '1'

9

In [ ]:
# -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
# h a i h a i h a i
# 0 1 2 3 4 5 6 7 8 9 10
str1= 'hai hai hai'
str1.index('a',-9,-4) # among all the indexes the lowset index is '1'

In [49]:
str='hai hai hai'
print(str.index('a',-9,-6))

ValueError: substring not found

In [50]:
# -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
# h a i h a i h a i
# 0 1 2 3 4 5 6 7 8 9 10
str1= 'hai hai hai'
print(str1.count('a'))
print(str1.count('a',3))
print(str1.count('a',3,7))

3
2
1

In [51]:
# -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
# h a i h a i h a i
# 0 1 2 3 4 5 6 7 8 9 10
str1= 'hai hai hai'
print(str1.index('a'))
print(str1.index('a',3))
print(str1.index('a',3,7))

1
5
5

In [ ]:
Sir, yesterday assignment methods are string methods right?
Why those are not visible in string package? Those are visible with dir('') not
import string
name='praveen'
dir(name)
dir(string)

In [52]:
str1='hai hai hai'
# I want to know all the indexes of 'a'
for i in range(len(str1)):
    if str1[i]=='a':
        print(i)

1
5
9

In [53]:
# h a i h a i h a i hai
# 0 1 2 3 4 5 6 7 8 9 10
str1='hai hai hai hai'
i1=str1.index('a')
print(i1)
i2=str1.index('a',i1+1)
print(i2)
i3=str1.index('a',i2+1)
print(i3)
i4=str1.index('a',i3+1)
print(i4)

1
5
9
13

In [54]:
# Home work Implement above logic to get all the indexes
# h a i h a i h a i hai
# 0 1 2 3 4 5 6 7 8 9 10
str1='hai hai hai hai'
i1=str1.index('a')
print(i1) # 1
i2= str1.index('a',i1+1)
print(i2) # 5
i3= str1.index('a',i2+1)
print(i3)
i4= str1.index('a',i3+1)
print(i4)
i5= str1.index('a',i4+1)
print(i5)

1
5
9
13

ValueError: substring not found

**FIND**

In [55]:
str1='hai hai hai hai'
i1=str1.find('a')
print(i1) # 1
i2= str1.find('a',i1+1)
print(i2) # 5
i3= str1.find('a',i2+1)
print(i3)
i4= str1.find('a',i3+1)
print(i4)
i5= str1.find('a',i4+1)
print(i5)

1
5
9
13
-1

In [ ]:
str1.index() # Raises ValueError when the substring is not found.
str1.find() # Return -1 on failure.

In [57]:
str1='hai hai hai'
str1.count('z')

0

In [58]:
str1='hai hai hai'
str1.replace('z','Z')

'hai hai hai'

- If substring not found
- Count method will give zero
- Replace method will give original string
- Index will give sub string not found error
- Find will give -1

In [ ]:
str1='omkar.nallagoni@cognizant.com'
# Fisrt name= omkar
# second name= nallagoni
# company name= cognizant
str2='virat.kohli@rcb.com'
str3='rohit.sharma@mi.com'
str4='a.b@c.com'

# Idea : find the triggers
# For first name .
# second name . and @
# Compnay name @ and second .
# i1= first dot index
# i2= @ index
# i3= second index

In [59]:
str1='omkar.nallagoni@cognizant.com'
i1=str1.index('.')
i2=str1.index('@')
i3=str1.index('.',i1+1)
first_name=str1[:i1]
second_name=str1[i1+1:i2]
cname=str1[i2+1:i3]
first_name,second_name,cname

('omkar', 'nallagoni', 'cognizant')

- count
- replace
- find
- index

- Upper/lower/casefold
- Capitalize/Title
- Center
- Count
- Replace
- index/find
- start with is

- split
- strip/lstrip/rstrip
- startswith/endswith